.page-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  margin-top: 50px;
}

.content-box {
  width: 80%;
  background: #ffffff;
  border-radius: 14px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.12);
  padding: 0px;
  overflow: hidden;
  position: relative;
  height: 400px;
}