<nav class="fixed top-0 left-0 w-full bg-black  shadow-gray-800 shadow-xs h-14 text-gray-50 px-4 py-3.5 sm:py-1.5 z-50">
    <div class="flex items-center justify-between">
        <div class="flex items-center space-x-4">
            <!-- Hamburger -->
            <!-- Tailwind hamburger, kun til md+ (PC) -->
            <button class="flex-col justify-between w-6 h-4 focus:outline-none hidden md:flex" (click)="toggleMenu()">
                <span class="block h-0.5 bg-red-500 transition-transform duration-300" [ngClass]="{
      'rotate-45 translate-y-1.5 bg-blue-600': menuOpen,
    'bg-red-500': !menuOpen
    }"></span>
                <span class="block h-0.5 bg-yellow-400 transition-opacity duration-300" [ngClass]="{
      'opacity-0': menuOpen
    }"></span>
                <span class="block h-0.5 bg-blue-600 transition-transform duration-300" [ngClass]="{
      '-rotate-45 -translate-y-2': menuOpen
    }"></span>
            </button>

            <!-- Unicode hamburger, kun til mobil -->
            <button class="text-2xl text-white block md:hidden" (click)="toggleMenu()">
                {{ menuOpen ? '✖' : '☰' }}
            </button>


            <span class="font-bold text-xl hover:text-blue-400 cursor-pointer" routerLink="/">Kim Massesson</span>

        </div>
        <div class="social-icons flex justify-end gap-3 sm:px-8 sm:py-3">
            <a href="https://www.linkedin.com/in/kim-m-9b9416159/">
                <i class="fab fa-linkedin-in text-blue-400 text-lg"></i>
            </a>
        </div>
    </div>

    <!-- undermenu placeres absolute under navbar -->
    <div class="absolute top-full left-0 w-full  bg-gray-600 flex flex-col items-center space-y-4 text-xl transition-all duration-300 overflow-hidden"
        [ngClass]="{
      'opacity-97 pointer-events-auto py-4': menuOpen,
      'max-h-0 opacity-0 pointer-events-none': !menuOpen
    }">
        <div class="flex justify-start w-full px-14">
            <div class="sm:grid-cols-7 grid w-4xl gap-8">
                <div class="flex flex-col">
                    <div class="text-blue-400 text-sm">WEB-PROJEKTER</div>
                    <a href="https://atopos.dk/" class="text-xs mt-1 hover:opacity-90">Atopos</a>
                    <a href="https://gnist.show/" class="text-xs mt-1 hover:opacity-90">Gnist</a>
                </div>

                <div class="flex flex-col">
                    <div class="text-blue-400 text-sm">PROGRAMMERING</div>
                    <span routerLink="/programming" (click)="toggleMenu()" class=" text-xs mt-1 hover:opacity-90
                        cursor-pointer">Skills</span>
                    <span routerLink="/projects" (click)="toggleMenu()" class=" text-xs mt-1 hover:opacity-90
                        cursor-pointer">Projekter</span>
                </div>

                <div class="flex flex-col">
                    <div class="text-blue-400 text-sm">VIDEOER</div>
                    <a href="https://www.youtube.com/@zoomwrap"
                        class="text-xs mt-1 hover:opacity-90">Programmeringskanal</a>
                    <a href="https://www.youtube.com/channel/UCup4QrPfHU0MjtLV-srhOlQ"
                        class="text-xs mt-1 hover:opacity-90">Kreative projekter</a>

                </div>
                <!-- <div class="flex flex-col">
                    <div class="text-blue-400 text-sm">NOTER</div>
                    <span routerLink="/apinoter" (click)="toggleMenu()" class=" text-xs mt-1 hover:opacity-90
                        cursor-pointer">Api-noter</span>
                    <span routerLink="/ghpages" (click)="toggleMenu()" class=" text-xs mt-1 hover:opacity-90
                        cursor-pointer">Deploy til github pages</span>
                    <a href="https://tailwindcss.com/docs/installation/framework-guides/angular"
                        class="text-xs mt-1 hover:opacity-90">Tailwind med Angular</a>
                </div> -->

                <div class="flex flex-col">
                    <div class="text-blue-400 text-sm">SKABELONER</div>
                    <span routerLink="/landscape" (click)="toggleMenu()" class=" text-xs mt-1 hover:opacity-90
                    cursor-pointer">Landscape</span>
                    <span routerLink="/green" (click)="toggleMenu()" class=" text-xs mt-1 hover:opacity-90
                    cursor-pointer">Green</span>
                    <span routerLink="/contact" (click)="toggleMenu()" class=" text-xs mt-1 hover:opacity-90
                    cursor-pointer">Kontakt-side</span>
                    <span routerLink="/toolbar" (click)="toggleMenu()" class=" text-xs mt-1 hover:opacity-90
                    cursor-pointer">Toolbar dropdown</span>
                </div>
                <div class="flex flex-col">
                    <div class="text-blue-400 text-sm">TEKNOLOGIER</div>
                    <span routerLink="/tech" (click)="toggleMenu()" class=" text-xs mt-1 hover:opacity-90
                        cursor-pointer mb-2">Teknologier</span>
                    <div class="text-blue-400 text-sm">KREATIVT</div>
                    <span routerLink="/paintings" (click)="toggleMenu()" class=" text-xs mt-1 hover:opacity-90
                        cursor-pointer">Malerier</span>
                    </div>
                    <div class="flex flex-col">
                        <div class="text-blue-400 text-sm">OM MIG</div>
                        <span routerLink="/jobs" (click)="toggleMenu()" class=" text-xs mt-1 hover:opacity-90
                            cursor-pointer">Joberfaring</span>
                        <span routerLink="/education" (click)="toggleMenu()" class=" text-xs mt-1 hover:opacity-90
                            cursor-pointer">Uddannelser</span>
                        <span routerLink="/hobby" (click)="toggleMenu()" class=" text-xs mt-1 hover:opacity-90
                            cursor-pointer">Hobbyer</span>
                    </div>
                </div>
            </div>
        </div>
    </nav>