@import "tailwindcss";


@layer components {
    .heading-1 {
        @apply xl:text-4xl text-xl font-bold mb-4;
    }

    .responsive-image {
        @apply h-50 sm:h-70 2xl:h-100 object-cover sm:rounded-lg rounded-sm shadow-lg;
    }
}

body {
    @apply bg-white mt-18 text-black;
}

.prose {
    @apply max-w-[90ch] text-gray-800;
}

.prose h1 {
    @apply text-3xl font-bold mt-8 mb-4 text-black;
}

.prose h2 {
    @apply text-2xl font-semibold mt-6 mb-3;
}

.prose h3 {
    @apply text-xl font-semibold mt-6 mb-3;
}

.prose a {
    @apply text-blue-600 hover:text-gray-700;
}

.prose ul {
    @apply list-disc list-inside mb-4;
}

.prose ol {
    @apply list-decimal list-inside mb-4;
}

.prose blockquote {
    @apply border-l-4 border-gray-300 pl-4 italic text-gray-700 my-8;
}

.prose code {
    @apply bg-gray-100 text-gray-700 px-1 rounded font-mono text-sm;
}

.prose pre {
    @apply bg-gray-100 text-gray-100 p-4 rounded overflow-x-auto font-mono text-sm;
}

.prose p {
    @apply mt-6 mb-8;
}

.prose table {
    @apply w-full border-collapse mb-4;
}

.prose th {
    @apply border-b-2 border-gray-300 p-2 text-left font-semibold;
}

.prose td {
    @apply border-b border-gray-200 p-2;
}

.prose h1,
.prose h2,
.prose h3,
.prose h4,
.prose h5,
.prose h6 {
    outline: none;
}

.prose h1:focus,
.prose h2:focus,
.prose h3:focus,
.prose h4:focus,
.prose h5:focus,
.prose h6:focus {
    outline: 2px solid blue;
    /* valgfrit fokus-indikator */
}



html,
body {
    height: 100%;
}